<%= form_with model: @recipe, url: user_recipes_path, method: :post do |form| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %><br />
    <%= form.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= form.label :preparation_time, "Preparation time (hours)"%> <br />
    <%= form.number_field :preparation_time, in: 1.0..8.0, step: 0.25 %>
  </div>

  <div class="field">
    <%= form.label :cooking_time, "Cooking time (hours)"%> <br />
    <%= form.number_field :cooking_time, in: 1.0..8.0, step: 0.25 %>
  </div>

  <div class="field">
    <%= form.label :description %><br />
    <%= form.text_area :description, autocomplete: "description" %>
  </div>

  <%= form.radio_button :public, true %>
  <%= form.label :public_true, "public" %>
  <%= form.radio_button :public, false %>
  <%= form.label :public_false, "private" %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
