    <% if current_page?(:controller => 'recipes', :action => 'index') %>
        <div class="flip-card">
            <div class="flip-card-inner ">
                <div class="flip-card-front px-3">
                    <p class="font-bold text-xl"><%= "Recipe #{recipe.id}" %></p>
                    <p class="text-lg"><%= recipe.name %></p>
                </div>
                <div class="flip-card-back px-3">
                    <a href="<%= recipe_path(id: recipe.id) %>">
                        <p class="text-lg font-bold mb-2"><%= recipe.name %></p>
                        <p class=""><%= "#{recipe.description[0..100]}..." %></p>
                    </a>
                    <%= button_to "Remove", recipe_path(id: recipe.id), method: :delete, class:"mt-5 font-bold text-lg hover:underline hover:text-red-600" %>
                </div>
            </div>
        </div>
    <% else %>
        <div class="recipe_container">
            <h2><%= link_to "Recipe #{recipe.id}: #{recipe.name}", recipe_path(id: recipe.id) %></h3>
            <div>
                <p> <%= "Preparation Time: #{pluralize(recipe.preparation_time, 'hour')}" %> </p>
                <p> Toggle button</p>
            </div>
            <p> <%= "Cooking Time: #{pluralize(recipe.cooking_time, 'hour')}" %> </p>
            <p> <%= "Steps: #{recipe.description}" %> </p>
            <%= button_to "Generate shopping list",
                recipes_path, class: "my_class",
                id: "my_id", method: :get,
                :onclick => "alert('Input collected!')"
            %>
            <%= button_to "Add ingredient", recipes_add_ingredient_path, method: :get, class: "my_class" %>

            <hr>

            <div class="ingredients_container">
                <% recipe.foods.each do |food| %>
                  <p><%= food.name %></p>
                  <p><%= "#{pluralize(recipe.recipe_ingredient_quantity(food.id), food.measurement_unit)}" %></p>
                  <%= link_to "Modify", method: :put, class: "my_class" %>
                  <%= link_to "Remove", method: :delete, class: "my_class" %>
                <% end %>
            </div>
        </div>
    <% end %>
